



#input-name {
    padding: 10px;
    padding-right: 70px;
    border-radius: 8px;
    font-size: 25px;
    border-color: rgb(99, 99, 202);
}



body {
    background-color: rgba(190, 189, 189, 0.89);
    font-family: 'Courier New', Courier, monospace;
    height: 100vh;
    display: grid;
    place-items: center center;
    padding-top: 70px;
    
}

.text-majuscule {
    text-transform: uppercase;
    
}



.pas-souligner-lien {
    text-decoration: none;
}

.gros {
    font-size: 32px;
}

.centrer {
    text-align: center;
}

.souligner {
    text-decoration: underline;
}

.img-100 {
    width: 100%;
    border-radius: 20px;
    height: 500px;
    padding: 0px;
}

ul {
    text-align: center;
  
}

ul li{
    text-align: center;
    list-style-type: none;
    display: inline;
    word-spacing: 5px;
    font-size: 20px;
}

.table-nav {
    position: fixed ;
    top: 0;
    left: 0;
    background-color: rgba(153, 156, 156, 0.555);
    width: 100%;
    padding: 2px;
}

.table {
    background-color: rgb(36, 36, 146);
    padding: 3px;
    margin: 15px;
    border-radius: 7px;
}

.couleur-blanche {
    color: white;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit,
    minmax(400px,1fr));
    padding: 20px;
    grid-gap: 40px;
}

.card {
    background-color: #67676b;
    border-radius: 20px;
    box-shadow: 0 0 30px rgb(0, 0, 0 , 0.18);
}

.container {
    position: relative;
    clip-path: polygon(0 0,100% 0, 100%
     85%, 0 100%);
}

.lien:hover {
    background-color: #7c7caf;
}



img {
    width: 100%;
    display: block;
    border-radius: 20px 20px 0 0;
}

.container:after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px 20px 0 0;
    opacity: 0.7;
}



.details {
    padding: 20px 10px;
}

.details>h3 {
    color: white;
    font-weight: 600;
    font-size: 18px;
    margin: 10px 0 15px 0;
}

.details>p {
    color: #eeeeee;
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
}

.img-left {
    width: 18%;
    float: right;
    border-radius: 12px;
}

.paragraphe-1 {
    font-size: 42px;
    font-weight: 200;
}

.active {
    text-decoration: underline;
}

@media screen and (max-width : 1100px) {
    .paragraphe-1 {
        font-size: 17px;
    }

    .img-left {
        width: 35%;
    }

    .img-100 {
        height: 100%;
    }

    .cards {
        grid-template-columns: repeat(auto-fit,
    minmax(250px,1fr));
        
    }

    
}

form {
    width: 500px;
    margin: 8% auto;
    padding: 50px 0;
    text-align: center;
    box-shadow: 0 20px 40px rgb(0,0 ,0 );
}

.input-box {
    margin: 30px auto;
    width: 80%;
    position: relative;
    box-shadow: 0 8px 10px -10px rgb(0, 0, 0);
}



.input-box input {
    width: 100%;
    height: 40px;
    border: none;
    background: #efefef;
    padding-left: 50px;
}

span {
    position: absolute;
    left: 0;
    top: 0;
    height: 40px;
    width: 40px;
    background: linear-gradient(to right, #4CAF50, #00BCD4);
}

span .fa {
    padding: 10px;
    color: #fff;
}

button {
    width: 130px;
    height: 40px;
    margin-left: 10%;
    display: block;
    color: #fff;
    border: 0 ;
    border-radius: 7px;
    font-size: 16px;
    outline: none;
    background: linear-gradient(to right, #4CAF50, #00BCD4)
}